<button (click)="addSandwichToArray()">Add sandwich to array</button>
<ng-container *ngFor="let sandwich of arrayOfSandwiches$ | async">
  <app-child [sandwich]="sandwich" (init)="updateSandwichesArray()">
  </app-child>
</ng-container>

<button (click)="addSandwichToObject()">Add sandwich to object</button>
<ng-container *ngFor="let item of objectOfSandwiches$ | async | keyvalue">
  <app-child [sandwich]="item.value" (init)="updateSandwichesObject()">
  </app-child>
</ng-container>

<button (click)="addSandwichToArrayInStore()">Add sandwich to array in store</button>
<ng-container *ngFor="let sandwich of storeOfSandwichesArray$ | async">
  <app-child [sandwich]="sandwich" (init)="updateSandwichesArrayInStore()">
  </app-child>
</ng-container>

<button (click)="addSandwichToObjectInStore()">Add sandwich to object in store</button>
<ng-container *ngFor="let item of storeOfSandwichesObject$ | async | keyvalue">
  <app-child [sandwich]="item.value" (init)="updateSandwichesObjectInStore()">
  </app-child>
</ng-container>
